NODE_ENV=development
DATABASE_URL=postgresql://admin:admin@localhost:5432/cruxi
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_PROVIDER_ENABLED=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=